.contact_large_column {
  padding: 0 5rem 0 10rem;
}
#contact {
  background: $blue-100;
  padding-bottom: 4rem;
}
@media screen and (min-width: 992px) {
  #contact {
    padding-bottom: 0rem;
  }
}

input,
textarea {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  background: $gray-400;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
